test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Package manager lock files (library packages should not commit lock files)
bun.lock
# package-lock.json # we need it for deployment CI
yarn.lock
pnpm-lock.yaml
